{extend name="public/mobile/base" /}
{block name="title"}{$vote.title} - 评论 - 标准排名{/block}
{block name="navs"}
<body style="padding-top: 50px">
<div class="bar-app">
    <a href="/">
        <img src="__MIMG__/logo90.png" alt="" class="bar-app-logo pull-left">
        <div class="text-white pull-left" style="margin-left:10px;">
            <strong>标准排名</strong>
            <br>
            <small>比出美好生活</small>
        </div>
    </a>
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bm.standard&g_f=991653" class="btn btn-sm btn-danger2 pull-right" style="margin: 10px 15px 0;">下载APP</a>
</div>
{/block}
{block name="main"}
<div class="container content-article p-y bg-white ">
    <h5 class="m-b">{$vote.title}</h5>
    <p class="help-block fs12">
        <span>{$vote.vote_author_name}</span>
        <span class="m-l-15">{$vote.createtime|date="Y-m-d",###}</span>
        <span class="pull-right"><i class="icon-eye2"></i> {$vote.hits}</span>
    </p>
    <div class="article-content">
        {$vote.description} [<a href="{:url('vote/voteShow',['id'=>$vote_id])}" class="link-blue fs14">查看投票</a>]
    </div>
</div>

{if condition="$commentlist eq false"}
<div class="container comment m-b-lg">
    <div class="text-center">
        <img src="__MIMG__/sofa.png" alt="" style="margin: 10em 0 1em 0 ">
        <p>还没有人来评论，快来抢沙发吧！</p>
    </div>
</div>
{/if}
{if condition="$commentlist eq true"}
	<div class=" comment m-b m-t-4 bg-white">
	    <h6 class="p-y-10 p-x-9 bdb-grey2 m-b-0 fs14"><i class="fa fa-caret-right text-red2"></i> 评论</h6>
		{foreach item="v" name="commentlist"}
		    <div class="row p-t"  style="margin: 0;position: relative">
		        {if condition="$v['top'] eq 1"}
		        	<span style="position: absolute;left: 0;top: 0;"><img src="__MIMG__/label-hot.png" alt="" style="width: 35px;height: 30px;"></span>
		        {/if}
		        <div class="col-xs-2"><img src="{$v.avatar|default='__MIMG__/portrait7.jpg'}" class="img-circle" alt=""></div>
		        <div class="col-xs-10 p-r-0">
		            <h6 class="m-b-0 p-r text-lightblue">{$v.full_name|urldecode}</h6>
		            <p class="m-b-0 p-r"><small>{$v.createtime|date="Y-m-d",###}</small></p>
		            <p class="p-r">{$v.content}</p>
		            <p class="text-right m-y p-r" style="font-size: 13px">
		                <a href="{:url('comment/votecommentreply',array('id'=>$vote_id,'cid'=>$v['id']))}" class="m-r text-gray">回复 ({$v.replay_num})</a>
		                <a href="javascript:;" url="{:url('doLike',array('id'=>$v['id'],'ob_id'=>$vote_id,'type'=>2))}" class="do-like">
		                   <i class="{:in_array($v['id'],$dolikes)?'icon-heart15':'icon-heart-o15'}"></i>
		                    <span class="com-like">{$v.com_like}</span>
		                </a>
		            </p>
		            {if condition="isset($v['children'])"}
		                <div class="m-b p-b-sm ">
		                	{foreach name="v.children" item="vv" key="kk"}
		                	{php}$path = explode("-", $vv['path']);{/php}
		                	{if condition="!isset($path[2])"}
		                    	<hr>
		                    	<p class="m-b-0 p-r">
		                        <span class="text-lightblue">{$vv.full_name}</span>
		                        回复
		                        <span class="text-lightblue">{$v['full_name']}</span>：
		                        <a href="javascript:;" url="{:url('doLike',array('id'=>$vv['id'],'ob_id'=>$vote_id,'type'=>2))}" class="do-like pull-right">
		                          <i class="{:in_array($v['id'],$dolikes)?'icon-heart15':'icon-heart-o15'}"></i></a>
		                        <br>
		                        {$vv.content}</p>
		                    {else/}
		                        <hr>
		                    	<p class="m-b-0 p-r">
		                        <span class="text-lightblue">{$vv.full_name}</span>
		                        回复
		                        <span class="text-lightblue">{$v['children'][$path[2]]['full_name']}</span>：
		                        <a href="javascript:;" url="{:url('doLike',array('id'=>$vv['id'],'ob_id'=>$vote_id,'type'=>2))}" class="do-like pull-right">
		                            <i class="{:in_array($v['id'],$dolikes)?'icon-heart15':'icon-heart-o15'}"></i>
		                        </a>
		                        <br>
		                        {$vv.content}</p>
		                    {/if}
		                    {/foreach}
		                    {if condition="count($v['children']) gt 2"}
			                <a href="{:url('comment/commentReply',array('id'=>$vote_id,'cid'=>$v['id']))}" class="btn btn-block btn-sm reply-more">查看更多</a>
			            	{/if}
		                </div>
	            	{/if}
		        </div>
		    </div>
		    <hr>
		{/foreach}
	</div>
{/if}
{if condition="$commentlist eq true"}
<div class="container m-b-lg">
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bm.standard&g_f=991653" class="btn btn-block btn-secondary">下载APP查看更多精彩内容</a>
</div>
{/if}

<div class="navbar-fixed-bottom bg-white">
    {if condition="session('uid')"}
    <a href="#commentWindow" class="btn btn-block btn-comment" data-toggle="collapse" aria-expanded="false" aria-controls="commentWindow">评论</a>
    {else/}
    <a href="javascript:;" class="btn btn-block btn-comment"  data-toggle="modal" data-target=".bd-example-modal-sm">评论</a>
    {/if}
    <form action="{:url('present')}" class="ajaxForm" method="post" id="form">
    <div class="collapse" id="commentWindow">
        <div class="card card-block m-b-0">
            <input type="hidden" name="ob_id" value="{$vote_id}"/>
            <input type="hidden" name="type" value="2"/>
            <textarea  class="com-content" name="content" rows="3" style="width: 100%;"></textarea>
            <p class="massage text-red"></p>
            <p class="m-y-0 text-right">
                <a href="#commentWindow" class="btn btn-sm btn-secondary" data-toggle="collapse" aria-expanded="false" aria-controls="commentWindow">取消</a>
                <input type="submit" value="发布" class="btn btn-sm btn-danger">
            </p>
        </div>
    </div>
    </form>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bdb0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="deal-close"></span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title text-center" id="myModalLabel">登录</h5>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div class="{$is_wechat?'col-xs-4':'col-xs-6'}">
                        <a href="{:url('/home/OpenAuth/login',array('type'=>'qq'))}" class="text-gray"><i class="icon-qq50 bdra50"></i><br>QQ登录</a>
                    </div>

                    <div class="{$is_wechat?'col-xs-4':'col-xs-6'}">
                        <a href="{:url('/home/OpenAuth/login',array('type'=>'sina'))}" class="text-gray"><i class="icon-weibo50 bdra50"></i><br>微博登录</a>
                    </div>

                    {if condition="$is_wechat"}
                    <div class="col-xs-4">
                        <a href="{:url('home/login/wechatLoginUrl')}" class="text-gray"><i class="icon-weixin50 bdra50"></i><br>微信登录</a>
                    </div>
                    {/if}
                </div>
            </div>
            <div class="modal-footer text-center bdt0">
                <a href="{:url('home/login/login')}" class="text-gray2">手机号登录/注册 ﹥</a>
            </div>
        </div>
    </div>
</div>

{/block}
{block name="js"}
<script src="__MJS__/basic.js"></script>
<script src="__MJS__/jquery.form.js"></script>
<script>
    wx.config({
        debug: false,
        appId: 'wxbcea9dff94dbdbca',
        timestamp: '{$time}',
        nonceStr: '{$nonceStr}',
        signature: '{$signature}',
        jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
    wx.ready(function(){
        wx.onMenuShareAppMessage({
            title: '{$vote.title}',
            desc: '{$vote.description}',
            link: '{$url}',
            imgUrl: "__UPLOAD__/{$vote.semta.thumb}"
        });
        wx.onMenuShareTimeline({
            title: '{$vote.title}',
            link: '{$url}',
            imgUrl: "__UPLOAD__/{$vote.semta.thumb}"
        });
    });
</script>
{/block}