{extend name="Public/base" /}
{block name="main-content"}
    <div class="page-content">
            <div class="row">
            <div class="col-xs-12">
                <div>
                    <form id="listorder" name="listorder" method="post" action="{:url('listorder')}" >
                        <input name="p" id="p" value="{:request()->param('p',1)}" type="hidden" />
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th class="hidden-xs">排序</th>
                                    <th class="hidden-xs">ID</th>
                                    <th>标题</th>
                                    <th class="hidden-xs">审核</th>
                                    <th style="border-right:#CCC solid 1px;">操作</th>
                                </tr>
                                </thead>

                                <tbody>

                                {foreach name="data" item="v"}
                                    <tr>
                                        <td class="hidden-xs">
                                            <label class="pos-rel">
                                                <input name='id[{$v.id}]' id="navid" class="ace"  type='text' value='{$v.listorder}' style="width:50px;">
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td class="hidden-xs" align="center">{$v.id}</td>
                                        <td class="hidden-xs" align="center">{$v.label}</td>
                                        <td class="hidden-xs">
                                            {if condition="$v['status'] eq 1"}
                                                <a class="red state-btn" href="{:url('state')}" data-id="{$v.id}" title="已审">
                                                    <div id="zt{$v.id}"><button class="btn btn-minier btn-yellow">已审</button></div>
                                                </a>
                                            {else/}
                                                <a class="red state-btn" href="{:url('state')}" data-id="{$v.id}" title="未审">
                                                    <div id="zt{$v.id}"><button class="btn btn-minier btn-danger">未审</button></div>
                                                </a>
                                            {/if}
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a class="green" href="{:url('edit',array('id'=>$v['id']))}" title="修改">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a class="red confirm-rst-url-btn" data-info="你确定要删除到回收站吗？" href="{:url('del',array('id'=>$v['id'],'p'=>request()->param('p',1)))}" title="回收站">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
                                            <div class="hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="{:url('edit',array('id'=>$v['id']))}" class="tooltip-success" data-rel="tooltip" title="" data-original-title="修改">
                                                                <span class="green">
                                                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="{:url('del',array('id'=>$v['id'],'p'=>request()->param('p',1)))}" data-info="你确定要删除到回收站吗？" class="tooltip-error confirm-rst-url-btn" data-rel="tooltip" title="" data-original-title="回收站">
                                                                <span class="red">
                                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {/foreach}
                                <tr>
                                    <td align="left"><button type="submit" class="btn btn-white btn-yellow btn-sm">排序</button> </td>
                                    <td colspan="8" align="right" class="hidden-xs"></td>
                                    <td colspan="8" align="right" class="hidden-lg hidden-md hidden-sm"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->
{/block}