{extend name="public/mobile/base" /}
{block name="title"}关于我们 - 标准排名{/block}
{block name="navs"}{/block}
{block name="main"}
<body style="padding-top: 0;">
<header class="bdb-grey" style="z-index: 999">
    <nav class="navbar">
        <a href="javascript:history.back(-1)" class="navbar-brand"><i class="icon-back"></i></a>
        <h6>关于我们</h6>
    </nav>
</header>
<div class="content container mycenter-user p-t">
    <p class="text-center m-t m-b-lg"><img src="__MIMG__/logo-black.png" alt="" style="width: 60%"></p>
    <p>关于我们</p>
    <p>标准排名（广州）科技有限公司 ，英文名“Green Ranking”，是一家专注于绿色评级与评价的研究机构，基于互联网大数据分析的信息服务商，致力于成为全球绿色指数专家。主要提供从绿色政策咨询、绿色战略规划、绿色市场调研到绿色产品认证、绿色信用评估、绿色品牌管理、绿色融资服务和绿色人才培训的全程一站式专业服务。</p>
    <hr>
    <p>联系我们：</p>
    <p>广州总部：广州市花都区新华街田美新村十六巷30号秦悦大厦4楼（部位411）  电话020-36801094   北京：北京市西城区木樨地北里甲11号国宏大厦A座1223 电话/传真：010-63909852  邮箱：admin@biaozhunpaiming.com</p>
    <hr>
    <p>加入我们：</p>
    <p>现招聘财经研究员、数据分析员、运营推广、市场经理、CTO以及实习生，为了倡导绿色生活工作方式，我们仅接受电子邮件简历的投递。 邮箱：admin@biaozhunpaiming.com</p>
    <hr>
    <p>我们的服务：</p>
    <p>1、绿色咨询服务
我们将提供中国最新绿色环保政策、国家环保法律法规和产业行业政策走向分析，结合自身产品形态、市场状况和财务信用等，提供量身定制的绿色战略规划、绿色市场调研、绿色产品设计、绿色品牌管理和绿色金融融资等咨询服务。

2、绿色评估服务
我们将协助企业进行绿色产品的设计开发，绿色技术的选择与应用，绿色项目的认证，企业绿色信用状况评估与评价。

3、绿色融资服务
我们将根据企业的发展现状和财务状况，为企业量身打造绿色金融融资方案，从而降低企业的融资成本，并将企业自身利益与环境社会利益有机融合，通过创造共享价值来促进绿色企业自身与社会的可持续发展。

4、绿色品牌管理
我们将为企业提供绿色品牌规划和构建、绿色品牌管理和营销，提供绿色品牌诊断、舆情环境监测、品牌声誉维护和优化，策划与执行线下线上绿色公关活动，绿色传播和推广服务。

5、绿色人才培训
我们将依托强大的高校资源、行业协会资源和政府智囊资源，为企业绿色金融和绿色产品相关人员提供培训服务，提升企业绿色产品开发能力和绿色融资能力。</p>
</div>
{/block}
