{extend name="public/mobile/base" /}
{block name="title"}忘记密码 - 标准排名{/block}
{block name="navs"}{/block}
{block name="main"}
<header class="navbar-fixed-top">
    <nav class="navbar">
        <a href="javascript:history.back(-1)" class="navbar-brand"><i class="icon-back"></i></a>
        <h6>忘记密码</h6>
    </nav>
</header>
<form action="{:url('changePassword')}" method="post" id="form" class="form-login ajaxForm">
    <div class="container p-t">
        <div class="form-group p-t bdb-grey">
            <div class="input-group-sm position-rel">
                <input type="hidden" name="username" value="{:request()->param('username')}"/>
                <input type="hidden" name="verify" value="{:request()->param('verify')}"/>
                <input type="password" name="password" class="form-control input-password" placeholder="请输入密码" minlength="4" maxlength="20">
                <a href="javascript:void(0)" class="check-password"></a>
            </div>
        </div>
        <div class="form-group p-t">
            <button type="submit" class="btn btn-secondary btn-block">下一步</button>
        </div>
        <div class="massage text-red text-center"></div>
    </div>
</form>
</div>
{/block}
{block name="js"}
<script src="__MJS__/basic.js"></script>
<script type="text/javascript" src='__MJS__/jquery.form.js'></script>
{/block}