<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name = "format-detection" content="telephone = no" />
<title></title>
<meta property="qc:admins" content="24312574706211720560076375" />
<meta property="wb:webmaster" content="8dd5ff9535649a26" />
<link rel="stylesheet" href="/static/mobile/css/bootstrap.css">
<link rel="stylesheet" href="/static/mobile/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/mobile/css/style.css">
<script src="/static/mobile/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/mobile/js/bootstrap.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="//hm.baidu.com/hm.js?3836a8c066732a2e02a623f8acde3f3e"></script>
</head>
<body style="padding-top: 50px;">
<header class="navbar-fixed-top" style="z-index: 9999">
    <div class="collapse" id="Navbar">
        <div class="nav-first p-a">
            {if condition="!$user"}
            <div class="navbar-group m-b-5">
                    <ul class="nav nav-pills" style="overflow: hidden;padding: 10px 12px;">
                        <li class="nav-item">
                            <a href="{:url('home/Login/login')}" class="link-login btn fs14" style="color: #ffffff;">立即登录></a>
                        </li>
                        <li class="nav-item pull-right">
                            <a href="{:url('/home/OpenAuth/login',array('type'=>'qq'))}" class="btn btn-info bdr0" style="padding: 6px 9px;"><i class="fa fa-qq"></i></a>
                            <a href="{:url('/home/OpenAuth/login',array('type'=>'sina'))}" class="btn btn-danger bdr0 m-l-sm" style="padding: 6px 9px;"><i class="fa fa-weibo"></i></a>
                            {if condition="$is_wechat eq true"}
                            <a href="{:url('home/login/wechatLoginUrl')}" class="btn btn-success bdr0 m-l-sm" style="padding: 6px 9px;"><i class="fa fa-weixin"></i></a>
                            {/if}
                        </li>
                    </ul> 
            </div>
            {else/}
            <div class="navbar-group m-b-5">
                <ul class="nav nav-pills navbar-user" style="overflow: hidden;padding: 10px 12px;">
                    <li class="nav-item">
                        <img src="{$user['avatar']?$user['avatar']:'__MIMG__/portrait8.jpg'}" alt="头像" class="img-circle">
                        <span class="navbar-username">{$user['user_nicename']?$user['user_nicename']:$user['user_login_encrypt']}</span>
                    </li>
                    <li class="nav-item pull-right">
                        <a href="{:url('User/person')}" class="link-login btn fs14 m-t-4" style="color: #ffffff;">个人中心></a>
                    </li>
                </ul>
            </div>
            {/if}
            <div class="navbar-group m-b-5">
                <form action="{:url('Search/detail')}" method="post" class="form-inline navbar-form">
                    <input type="text" name="keyword" class="navbar-input" placeholder="搜索...">
                    <button class="btn btn-search text-right" type="submit"><i class="icon-search"></i></button>

                </form>
            </div>
            <ul class="nav nav-pills" style="overflow: hidden">
                <li class="nav-item" style="width: 100%;">
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bm.standard&g_f=991653" class="nav-link navbar-app"><i class="icon-app"></i> APP下载</a>
                </li>
                {php}$i = 1;{/php}
                {foreach name="navs" key="k" item="vo"}
                    <li class="nav-item" style="width: 50%;">
                        <a href="{$vo['href']}" class="nav-link {$vo['id']==1?'active':''}" style="margin: 0 {php}echo $i%2?'2px':'0px';{/php} 4px {php}echo $i%2?'0px':'2px';{/php}">{$vo.label}</a>
                    </li>
                    {php}$i++;{/php}
                {/foreach}
            </ul>
        </div>
    </div>
</header>
<div class="bar-app">
    <a href="/">
        <img src="/static/mobile/images/logo90.png" alt="标准排名" class="bar-app-logo pull-left">
        <div class="text-white pull-left" style="margin-left:10px;">
            <strong>该页为预览页</strong>
            <br>
            <small>该页为预览页</small>
        </div>
    </a>
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.bm.standard&g_f=991653" class="btn btn-sm btn-danger2 pull-right" style="margin: 10px 15px 0;">该页为预览页</a>
</div>
<div class="container content-article p-y bg-white ">
    <h5 class="m-b">{$article_data.post_title}</h5>
    <p class="help-block fs12">
        <span>{$article_data.post_author_name}</span>
        <span class="m-l-15">{$article_data.post_modified|date="Y-m-d",###}</span>
        <span class="m-l-15"><a href="{:url('Comment/index',array('id'=>$article_data['object_id']))}">评论({$article_data['comment_count']})</a></span>
        <span class="pull-right"><i class="icon-eye2"></i> {$article_data.post_hits}</span>
    </p>
    {if condition="$article_data.isshow eq 1"}
        {if condition="$article_data.post_video eq true"}
            <div>
                <iframe src="{$article_data.post_video}" frameborder=0 allowfullscreen style="width: 100%"></iframe>
            </div>
        {else/}
            <div class="position-rel">
                <img class="media-object img-responsive" src="__UPLOAD__/{$article_data.smeta.thumb}" alt="" style="width: 100%;">
                {if condition="!empty($article_data.post_smeta_type) AND !ctype_space($article_data.post_smeta_type)"}
                <span class="img-from">图片简介：{$article_data.post_smeta_type}</span>
                {/if}
            </div>
            {if condition="!empty($article_data.post_smeta_desc) AND !ctype_space($article_data.post_smeta_desc)"}
            <div class="clearfix">
                <p class="fs12 text-gray2">
                        <span class="pull-left">{$article_data.post_smeta_desc}</span>
                </p>
            </div>
            {/if}
        {/if}
    {/if}
    <div class="article-content m-t">
        {$article_data.post_content}
        {if condition="!empty($article_data.post_excerpt)"}
            <a href="{$article_data.post_excerpt}" class="direct-Link">直达<br>链接</a>
        {/if}
        {if condition="!empty($article_data.post_report_id)"}
            <a href="{:url('report/detail',array('id'=>$article_data.post_report_id))}" class="btn btn-block btn-danger-outline">下载报告</a>
        {/if}
    </div>
</div>

{if condition="$vote"}
<div class="content content-voting bg-white m-t-4">
    <span class="label-voting"></span>
    <div class="container p-t">
        <h5 class="m-b-10"><b>{$vote['title']}</b></h5>
        <p class="help-block m-b-10">
            <small>
                <span>{$vote['vote_author_name']}</span>
            </small>
        </p>
        <p class="m-b-20"><span class="label label-default key-word">关键词</span></p>
        <p class="text-help m-b-0">{$vote['description']}</p>
    </div>
    <div class="vote-list" id='box'>
        {if condition="$vote_check eq false"}
            <form action="{:url('vote/votePost',array('id'=>$vote['id']))}" method="post" id="form" class="ajaxForm">
            <input type="hidden" name="type" value="article"/>
            {foreach item="v" key="k" name="vote['question']"}
                <div class="voting-main">
                    {if condition="$vote['ismain'] eq 1"}
                        <h6 class="voting-question position-rel">
                            <span class="icon-diandian"></span>
                            <span>{$k+1}、{$v.question} (<span class="text-danger">{$v['ismanyasr']==1?'多选':'单选'}</span>)</span>
                        </h6>
                    {/if}
                    {if condition="$v['ismanyasr'] eq 0"}
                        {foreach item="vo" name="v['answers']" key="kk"}
                            <div class="voting-cell">
                                <div>
                                    <input type="radio" id="test{$kk}" name="choices[{$kk}][]" value="{$vo.id}">
                                </div>
                                <label for="test{$kk}" class="card voting-radio">
                                    {if condition="$vo['a_pic'] eq true"}
                	                    <span class="media-left" href="#">
                	                        <img class="media-object img-responsive" src="{$vo['a_pic']}" alt="">
                	                    </span>
                                    {/if}
        	                    <span class="media-body">
        	                        <h6 class="media-heading">{$vo.content}</h6>
        	                    </span>
                                </label>
                            </div>
                        {/foreach}
                    {else/}
                        {foreach item="vo" name="v['answers']" key="kk"}
                            <div class="voting-cell">
                                <div>
                                    <input type="checkbox" id="checkbox{$kk}" name="choices[]" value="{$vo.id}">
                                </div>
                                <label for="checkbox{$kk}" class="card voting-checkbox">
                                    {if condition="$vo['a_pic'] eq true"}
                	                    <span class="media-left" href="#">
                	                        <img class="media-object img-responsive" src="{$vo['a_pic']}" alt="">
                	                    </span>
                                    {/if}
        	                    <span class="media-body">
        	                        <h6 class="media-heading">{$vo.content}</h6>
        	                    </span>
                                </label>
                            </div>
                        {/foreach}
                    {/if}
                </div>
                <hr class="m-b-0 m-t-17 m-x-14">
            {/foreach}
            <div class="container p-b-38">
                <button type="submit" class="btn btn-danger btn-block m-b btn-submit" vote-id="{$vote['id']}">投票</button>
            </div>
            </form>
        {else/}
            {foreach item="v" name="vote['question']" key="k"}
                {if condition="$vote['ismain'] eq 1"}
                    <h6 class="voting-question">{$k+1}、{$v.question}</h6>
                {/if}
                <div class="voting-main">
                    {foreach item="vo" name="v['answers']" key="kk"}
                        <div class="voting-cell">
                            <div class="card p-r-lg {:in_array($vo['id'],$choices)?'active':''}">
                                <div class="media-body">
                                    <h6 class="media-heading">{$vo.content}</h6>
                                    {php}$percentage = round(($vo['size_modified']/$v['count'])*100,0){/php}
                                    <div class="text-help">
                                        <small><span>{$percentage}%</span><span class="m-l">{$vo.size_modified}票</span></small>
                                    </div>
                                    <progress class="progress progress-danger" value="{$percentage}" max="100">{$percentage}%</progress>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
            {/foreach}
        {/if}
    </div>
</div>
{/if}

{if condition="$coarticles"}
<div class="list-about content-hotlist m-t-4 bg-white p-0">
    <h6 class="p-y-10 p-x-9 bdb-grey2 m-b-0 fs14"><i class="fa fa-caret-right text-red2"></i> 相关推荐</h6>
    {foreach item="v" name="coarticles"}
        <a href="{:url('articles/detail',array('id'=>$v['tid']))}" class="cell">
            <div class="media-left" href="#">
                {php}$smeta=json_decode($v['smeta'],true);{/php}
                <img class="media-object img-responsive" src="__UPLOAD__/{$smeta['thumb']}" alt="图片">
            </div>
            <div class="media-body">
                <h6 class="media-heading">{$v.post_title}</h6>
                <p>
                    <small>
                        <span class="pull-left" style="padding-top: .2em">{$v.post_modified|date="Y-m-d",###}</span>
                        <span> {$v.comment_count} 评论</span>
                    </small>
                </p>
            </div>
        </a>
    {/foreach}
</div>
{/if}
<div class="container">
    <div class="row">
        <nav class="text-center nav-footer col-xs-12">
            <div class="row">
                <div class="col-xs-3" style="padding: 0 5px">
                    <a href="{$dolike?'javascript:;':url('articles/doLike',array('id'=>$article_data['object_id']));}" class="heart-o js-count-btn">
                    <i class="fa {$dolike?'icon-heart':'icon-heart-o'}"></i>
                    <span class="post-like">{$article_data.post_like>999?'999+':$article_data.post_like}</span>
                </a>
                </div>
                <div class="col-xs-3" style="padding: 0 5px">
                    {if condition="$article_data.comment_status eq 1"}
                        <a href="{:url('Comment/index',array('id'=>$article_data['object_id']))}" class="commenting-o">
                    {else/}
                        <a href="javascript:;" class="commenting-no">
                    {/if}
                    <i class="icon-commenting"></i>
                    <span class="post-like">{$article_data.comment_count>999?'999+':$article_data.comment_count}</span>
                </a>
                </div>
                <div class="col-xs-3" style="padding: 0 5px">
                    <a href="{:url('articles/favorite',array('id'=>$article_data['object_id']))}" class="star-o js-favorite-btn" {$user?'':'data-toggle="modal" data-target=".bd-example-modal-sm"'}>
                    <i class="{$favorite?'icon-star':'icon-star-o'}"></i>
                    </a>
                </div>
                <div class="col-xs-3" style="padding: 0 5px">
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#shareModal" class="share-alt">
                        <i class="icon-share"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h6 class="modal-title" id="shareModalLabel">分享到：</h6>
            </div>
            <div class="modal-body">
                <div class="bdsharebuttonbox">
                    <a href="#" class="bds_tsina m-r-lg" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_qzone m-r-lg" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_tqq m-r-lg" data-cmd="tqq" title="分享到腾讯微博"></a>
                </div>
                <script>
                    window._bd_share_config = {
                        "common": {
                            "bdSnsKey": {},
                            "bdMini": "2",
                            "bdMiniList": false,
                            "bdStyle": "2",
                            "bdSize": "32"
                        },
                        "share": {},"selectShare": {"bdContainerClass": null,"bdSelectMiniList": ["weixin", "tsina", "qzone", "tqq", "renren"]}
                    };
                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bdb0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="deal-close"></span>
                    <span class="sr-only">Close</span>
                </button>
                <h5 class="modal-title text-center" id="myModalLabel">登录</h5>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <div class="{$is_wechat?'col-xs-4':'col-xs-6'}">
                        <a href="{:url('/home/OpenAuth/login',array('type'=>'qq'))}" class="text-gray"><i class="icon-qq50 bdra50"></i><br>QQ登录</a>
                    </div>

                    <div class="{$is_wechat?'col-xs-4':'col-xs-6'}">
                        <a href="{:url('/home/OpenAuth/login',array('type'=>'sina'))}" class="text-gray"><i class="icon-weibo50 bdra50"></i><br>微博登录</a>
                    </div>

                    {if condition="$is_wechat"}
                    <div class="col-xs-4">
                        <a href="{:url('home/login/wechatLoginUrl')}" class="text-gray"><i class="icon-weixin50 bdra50"></i><br>微信登录</a>
                    </div>
                    {/if}
                </div>
            </div>
            <div class="modal-footer text-center bdt0">
                <a href="{:url('home/login/login')}" class="text-gray2">手机号登录/注册 ﹥</a>
            </div>
        </div>
    </div>
</div>
<a href="#" class="back-top collapse" id="back-to-top"><i class="fa fa-chevron-up "></i></a>
<script src="/static/mobile/js/jquery.lazyload.js"></script>
<script>wx.config({debug: false,appId: 'wxbcea9dff94dbdbca',timestamp: '{$time}',nonceStr: '{$nonceStr}',signature: '{$signature}',jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']});wx.ready(function(){wx.onMenuShareAppMessage({title: '{$article_data.post_title}',desc: '{$article_data.post_mime_type}',link: '{$url}',imgUrl: "__UPLOAD__/{$article_data.smeta.thumb}"});wx.onMenuShareTimeline({title: '{$article_data.post_title}',link: '{$url}',imgUrl: "__UPLOAD__/{$article_data.smeta.thumb}"});});
</script>
</body>
</html>