{extend name="Public/base" /}
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					修改文章
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal ajaxForm2" name="form0" method="post" action="{:url('runedit')}"  enctype="multipart/form-data">
					<input type="hidden" name="id" id="id" value="{$article.object_id}" />
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章所属主栏目： </label>
						<div class="col-sm-10">
							{foreach name="terms" item="vo"}
								<input type="checkbox" name="term_ids[]"  {:in_array($vo['term_id'],$term_ids)?'checked':''} value="{$vo.term_id}" />{$vo.name}&nbsp;&nbsp;&nbsp;
							{/foreach}
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章名称：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_title" id="post_title" value="{$article.post_title}"  placeholder="必填：文章标题"  class="col-xs-10 col-sm-6" required/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章描述：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_mime_type" id="post_mime_type" value="{$article.post_mime_type}" placeholder="必填：文章描述"  class="col-xs-10 col-sm-6" required/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 作者：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_author_name" id="post_author_name" value="{$article.post_author_name}" placeholder="必填：作者"  class="col-xs-10 col-sm-6" required/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 图片来源：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_smeta_type" id="post_smeta_type" value="{$article.post_smeta_type}" placeholder="图片来源" class="col-xs-10 col-sm-6" />
                            <span class="help-inline col-xs-12 col-sm-6">
								<span class="middle red">*图片来源</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 图片简介：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_smeta_desc" id="post_smeta_desc" value="{$article.post_smeta_desc}" placeholder="图片简介" class="col-xs-10 col-sm-6" />
                            <span class="help-inline col-xs-12 col-sm-6">
								<span class="middle red">*图片简介</span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章关键字：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_keywords" id="post_keywords" value="{$article.post_keywords}" placeholder="输入文章关键字，以英文,逗号隔开" class="col-xs-10 col-sm-6" />
							<span class="help-inline col-xs-12 col-sm-6">
								<span class="middle red">*输入文章关键字，以逗号隔开</span>
							</span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章来源：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_source" id="post_source" value="{$article.post_source}" class="col-xs-10 col-sm-2" />
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 视频链接：  </label>
						<div class="col-sm-10">
							<input type="text" name="post_video" id="post_video" value="{$article.post_video}"  placeholder="视频链接"  class="col-xs-10 col-sm-6"/>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 热词： </label>
						<div class="col-sm-10">
							<select name="post_hotword_id"  class="col-sm-3 selector" >
								<option value="0">请选择热词</option>
								{foreach item="v" name="hotwordlist"}
								<option {$v.id == $article.post_hotword_id ? 'selected':''} value="{$v.id}">{$v.name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 下单来源： </label>
						<div class="col-sm-9">
							<input type="text" name="" id=""  placeholder="下单来源" class="col-xs-10 col-sm-10" />
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 下单链接： </label>
						<div class="col-sm-9">
							<input type="text" name="post_excerpt" value="{$article.post_excerpt}" id="post_excerpt" placeholder="下单链接" class="col-xs-10 col-sm-10" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 浏览量修改： </label>
						<div class="col-sm-9">
							<input type="text" name="post_hits" value="{$article.post_hits}" id="post_hits" placeholder="下单链接" class="col-xs-10 col-sm-3" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 点赞量修改： </label>
						<div class="col-sm-9">
							<input type="text" name="post_like" value="{$article.post_like}" id="post_like" placeholder="下单链接" class="col-xs-10 col-sm-3" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 投票ID： </label>
						<div class="col-sm-9">
							<input type="text" name="covoting" value="{$article.covoting}" id="covoting" placeholder="下单链接" class="col-xs-10 col-sm-3" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 报告ID： </label>
						<div class="col-sm-9">
							<input type="text" name="post_report_id" value="{$article.post_report_id}" id="post_report_id" placeholder="下单链接" class="col-xs-10 col-sm-3" />
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right red" for="form-field-1"> 封面图片上传： </label>
						<div class="col-sm-10">
							<a href="javascript:;" class="file">
								<input type="file" name="smeta" id="file0" />
								选择上传文件
							</a>
							<input type="hidden" name="smeta[thumb]" value="{$article.smeta.thumb}" />
							<span class="lbl">&nbsp;&nbsp;<img src="{$article.smeta.thumb?'__UPLOAD__/':''}{$article.smeta.thumb|default='__PUBLIC__/img/no_img.jpg'}" width="100" height="70" id="img0" ></span>&nbsp;&nbsp;<a href="javascript:;" onClick="return backpic('__PUBLIC__/img/no_img.jpg');" title="还原修改前的图片" class="file">
							撤销上传
						</a>
						<span class="lbl">&nbsp;&nbsp;上传前先用PS处理成等比例图片后上传，最后都统一比例<br /></span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right red" > 发布时间： </label>
                        <div class="col-sm-10">
                            <div class="col-xs-12 col-sm-3 hidden-xs btn-sespan">
                                <div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
									</span>
                                    <input type="text" name="post_modified" value="{$article.post_modified|date='Y-m-d H:i',###}" class="sl-date" placeholder="点击选择日期范围" id="datetimepicker"/>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
						<label class="col-sm-2 control-label no-padding-right red" for="form-field-1"> 封面图片是否隐藏： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="isshow" id="isshow" value="0" {php}if($article['isshow'] == 0){echo 'checked';}{/php} class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认否</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right red" for="form-field-1"> 是否审核： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="status" id="status" value="1" {$article.status==1?'checked':''} class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认否</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right red" for="form-field-1"> 是否允许评论： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="comment_status" id="comment_status" value="1" {$article.comment_status==1?'checked':''} class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认是</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right red" for="form-field-1"> 是否是推荐文章： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="post_recommend_status" id="post_recommend_status" {$article.post_recommend_status==1?'checked':''} value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;&nbsp;默认否</span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 文章主内容 </label>
						<div class="col-sm-10">
							<script src="__PUBLIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
							<script src="__PUBLIC__/ueditor/ueditor.all.js" type="text/javascript"></script>
							<textarea name="post_content" rows="100%" style="width:100%;height: 300px;" id="myEditor">{$article.post_content}</textarea>
							<script type="text/javascript">
								var editor = new UE.ui.Editor();
								editor.render("myEditor");
							</script>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}
{block name="scripts"}
	<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/css/jquery.datetimepicker.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery.datetimepicker.full.min.js"></script>
	<script>
		$.datetimepicker.setLocale('zh');
        $('#datetimepicker').datetimepicker({
            dayOfWeekStart : 1,
            lang:'zh',
            disabledDates:[],
            startDate:  ''
        });
		//多图设置
		$("#pic_list").hide();
		$("#news_pic_list").click(function(){
			$("#pic_list").hide();
		});
		$("#news_pic_qqlist").click(function(){
			$("#pic_list").show();
		});
		//跳转额外属性
		$("#pptaddress").hide();
		$("#news_flag_vaj").click(function(){
			$("#pptaddress").toggle(400);
		});
		$("#cpprice").hide();
		$("#news_flag_vacp").click(function(){
			$("#cpprice").toggle(400);
		});
	</script>
{/block}
