
input {
    outline: none;

}

.list50-bg {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 52%;
    padding-bottom: 15%;
    background-image: url("../images/list50-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.list50-nav {
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.list50-nav .navbar-brand img {
    width: 50%;
}

.list50-search {
    width: 45%;
    border-bottom: 1px solid #dadada;
    padding: 2px 0;
    margin-right: 15px;
}

.list50-search input {
    background-color: transparent;
    border: none;
    background-image: url('../images/icon-search.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0 4px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 12px;
    width: 100%;
}

.list50-dropdown,
.list50-dropdown .dropdown-menu {
    font-size: 12px;

}

.list50-dropdown .dropdown-menu {
    min-width: auto;
    top: 80%;
    right: 1rem;
}

.list50-dropdown .btn-danger,
.list50-dropdown .btn-danger:hover {
    background-color: #e95555;
    padding: 4px 10px;
}

.list50-table {
    width: 90%;
    margin: 0 auto;
    height: 20.5rem;
    overflow: hidden;
    overflow-y: scroll;
}

.list50-table .table-bordered {
    margin: 0;
}

.list50-table .table-bordered,
.list50-table .table-bordered th,
.list50-table .table-bordered td,
.list50-table .table-bordered thead td {
    border: 1px dashed #b4b4b4;
    color: #333333;
    font-size: 12px;
}

.list50-table .table-danger,
.list50-table .table-danger > tr,
.list50-table .table-danger > td {
    background-color: #e95555;
    color: #ffffff;
}

.list50-icon {
    width: 7px;
    height: 10px;
    float: right;
    margin-top: 4px;
}

.icon-list50-up {
    background-image: url('../images/icon-up.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}

.icon-list50-up-white {
    background-image: url('../images/icon-up-white.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}

.icon-list50-down {
    background-image: url('../images/icon-down-list.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}

.icon-list50-down-white {
    background-image: url('../images/icon-down-white.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}

.icon-list50-minus {
    background-image: url('../images/icon-minus.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}

.icon-list50-minus-white {
    background-image: url('../images/icon-minus-white.png');
    background-repeat: no-repeat;
    background-size: 7px 10px;
}