<div class="page-wrap">
<div class="view">
<footer>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 p-b border-r">
        <h6>联系我们</h6>
        <ul class="ul-none">
            <li>广州总部：广州市花都区新华街田美新村十六巷30号秦悦大厦4楼（部位411）  电话020-36801094</li>
            <li>北京：北京市西城区木樨地北里甲11号国宏大厦A座1223 电话/传真：010-63909852</li>
            <li>邮箱：admin@biaozhunpaiming.com</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 p-b border-r">
    <h6>加入我们</h6>
    <ul class="ul-none">
        <li>现招聘主编、新媒体记者、数据分析员、运营推广、市场经理、CTO以及实习生，为了倡导绿色生活工作方式，我们仅接受电子邮件简历的投递。</li>
        <li>邮箱：admin@biaozhunpaiming.com </li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 p-b border-r">
        <h6>关于我们</h6>
        <ul class="ul-none">
            <li>
                标准排名（广州）科技有限公司 ，英文名“Green Ranking”，是一家专注于绿色评级与评价的研究机构，基于互联网大数据分析的信息服务商，致力于成为全球绿色指数专家。主要提供从绿色政策咨询、绿色战略规划、绿色市场调研到绿色产品认证、绿色信用评估、绿色品牌管理、绿色融资服务和绿色人才培训的全程一站式专业服务。
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 text-center p-b">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-x-md">
            <img src="__IMG__/qr-weixin.jpg" class="img-responsive" alt="关注标准排名">
            <p>关注标准排名</p>
        </div>
    </div>

</div>

<div class="filing text-center p-y">
    <p><i class="fa fa-star"></i> 若有图片涉及版权问题，敬请原作者联系我们 <i class="fa fa-star"></i> </p>
    <p>粤ICP备19018633号 | 标准排名（广州）科技有限公司</p>
    <p>京ICP备17053107号 | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502034648" style="color: #00a0e9;text-decoration: none"><img src="__IMG__/beian.png" alt=""> 京公网安备 11010502034648号</a></p>
    <p>Copyright 北京万家绿色信用评级有限公司  All Rights Reserved 版权所有 复制必究</p>
</div></footer>
</div>
</div>
