{extend name="Public/base" /}
{block name="main-content"}
<div class="page-content">
<div class="wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('user/index')}">用户列表</a></li>
        <li class="active"><a href="{:url('user/add')}">添加管理员</a></li>
    </ul>
    <form class="form-horizontal ajaxForm2" method="post" action="{:url('user/addPost')}">


            <div class="control-group">
                <label class="control-label" for="input-old-password">账号</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="input-old-password" name="username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-password">密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="input-password" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input-repassword">重复密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="input-repassword" name="repassword">
                </div>
            </div>
            <div class="space-4"></div>
            <div class="form-group">
                <div class="col-sm-11">
                    <select name="role_id"  class="col-sm-4 selector" required>
                        <option value="2">后台编辑</option>
                            {foreach name="roles" key="k" item="v"}
                            <option value="{$v.id}">{$v.name}</option>
                            {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary  js-ajax-submit">保存</button>
            </div>

    </form>
</div>
</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/js/common.js"></script>
{/block}
